main {
  margin-top: 120px;
}

h1 {
  color: var(--secondary-color);
  text-align: center;
}



.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin-top: 40px;
}
.name {
  display: block;
}

#fname,
#lname {
  width: 300px;
}

#email,
#subject,
textarea {
  width: 300px;
}

#email,
#subject,
#fname,
#lname,
textarea {
  display: block;
  border: none;
  border-bottom: 2px solid black;
  margin: 15px 0px;
}

.Submit {
  background: var(--primary-background);
  font-size: 25px;
  font-weight: bold;
  color: var(--primary-color);
  margin: 10px auto;
  padding: 14px 36px;
  cursor: pointer;
  border: 3px solid var(--primary-color);
  display: flex;
}

.Submit:hover {
  color: var(--secondary-color);
  background: white;
  border: 3px solid var(--secondary-color);
}

.errorForm {
  color: red;
  font-size: 14px;
  margin-bottom: 2px;
  display: none;
}
