main {
  margin-top: 120px;
  flex-grow: 1;
}
h1,
h2,
h3 {
  text-align: center;
  color: var(--secondary-color);
}
.profile,
.expertice {
  margin: 35px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

.profile-picture {
  width: 300px;
  height: 300px;
}

.profile-text {
  width: 300px;
  height: 300px;
}

.profile-picture img {
  border-radius: 50%;
}
