@media only screen and (min-width: 638px) {
 
}

@media only screen and (min-width: 800px) {
  .logo img {
    padding-left: 80px;
  }
  .active {
    background: var(--secondary-background);
    color: var(--secondary-color);
    padding: 4px 13px;
  }

  li a:hover {
    background: var(--secondary-background);
    color: var(--secondary-color);
    padding: 4px 13px;
  }

  nav {
    display: flex;
    position: static;
    justify-content: center;
  }
  nav li {
    display: inline-block;
    position: relative;
  }

  li a {
    color: var( --primary-color);
    background: var(--secondary-color);
    margin: 5px 10px;
    border-radius: 50px;
    padding: 4px 13px;
  }

  header label {
    display: none;
  }
 
  .name {
    display: inline-block;
  }
  #fname,
  #lname {
    width: 275px;
  }

  #email,
  #subject,
  textarea {
    width: 563px;
  }
}

@media only screen and (min-width: 1000px) {
  
}
