body {
  margin: 0 auto;
  min-height: 100vh;

  font-family: "Sulphur Point", sans-serif, Verdana, Tahoma, sans-serif;
}

body p {
  font-family: "Quicksand", sans-serif;
  padding: 10px;
}

:root {
  --primary-color: white;
}

:root {
  --secondary-color: #0c4329;
}

:root {
  --secondary-background: white;
}

:root {
  --primary-background: #0c4329;
}

/* Header section */
header {
  background: var(--primary-background);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
  height: 80px;
}

nav {
  display: none;
  position: fixed;
  background: var(--primary-background);
  top: 53px;
  right: 0px;
  width: 100%;
  height: 100%;
}

nav li {
  display: block;
}

li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20px;
  padding: 5px;
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}

.active {
  font-size: 28px;
}

.logo img {
  height: 50px;
  display: none;
}

#humburger-menu {
  display: none;
}

#humburger-menu:checked ~ nav {
  display: block;
}
.fa-bars {
  color: var(--primary-color);
  font-size: 35px;
}

/* footer section*/

.footer-wrapper {
  width: 100%;
  height: 80px;
  background: var(--primary-background);
}

.footer-text {
  text-align: center;
  color: var(--primary-color);
  padding-top: 30px;
}
